<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/estilos.css">
	<title>{{title}}</title>
</head>
<body>
	{{> header}}
	{{> nav}}
	<div class="container">
		<h1>{{title}}</h1>
		<p>{{message}}</p>
		<p>Nombre del archivo cargado: {{ filename }}</p>
		<a href="/">Volver al inicio</a>
	</div>
</body>
</html>